{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Enter up to 10 natural numbers (1 - 99999)</h1>

        <form action="/max_number/find" method="POST">
            {% for i in 1..10 %}
                <div class="form-group">
                    <label for="sequence">number {{ i }}</label>
                    <input type="text" class="form-control" name="sequence[{{ i }}]">
                </div>

            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}