{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Sequence</th>
                <th scope="col">Max Number</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ sequence }}</td>
                <td>{{ max_number }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
